<%= link_to garden_path(garden) do %>
  <div class="card-garden">
    <% if garden.banner_url.to_s.include?(".gif") || garden.banner_url.to_s.include?(".png") || garden.banner_url.to_s.include?(".jpg") %>
    <%= image_tag garden.banner_url %>
    <% else %>
    <%= image_tag "https://images5.alphacoders.com/427/427178.jpg" %>
    <% end %>
    <div class="card-garden-infos">
      <div>
        <h2><%= garden.name %></h2>
      </div>
    </div>
  </div>
<% end %>


